/* Override certain multiflex styles for drupal */
/* use active, rather than selected */
.nav1 a.active {color: rgb(50,50,50); text-decoration: none;}
.nav2 a.active {color: rgb(50,50,50); text-decoration: none;}

/* Borders round sideboxes */
.sidebar-txtbox-noshade {margin: 0px 0px 10px 0px; padding: 2px 10px 3px 10px;border-bottom: solid 1px rgb(215,215,215);}

/* multi level lists */
.mainnav {overflow: hidden; clear: both; float: left; width: 160px; min-height: 500px; margin: 0px; padding: 0px; color: rgb(75,75,75); font-size: 1.0em;}
.mainmenu ul {width: 160px; margin: 0px 0px 0px -10px; padding: 0px; color: red }	
.mainmenu li {list-style: none;}
.mainmenu li a {display: block; min-height: 1.7em; height: auto !important; height: 1.7em; line-height: 1.7em; padding: 0px 0px 0px 12px;); text-decoration: none; font-size: 120%;font-weight: bold; color: rgb(100,100,100)}
.mainmenu li a:hover, .mainmenu li a.active {border-left: solid 7px rgb(156,186,214);  ; text-decoration: none; padding: 0px 0px 0px 5px; }
.mainmenu li a:visited { color: rgb(100,100,100); }

.mainmenu li ul {margin: 0px 0px 0px 0px}
.mainmenu li ul li a { padding: 0px 7px 0px 25px; font-style: italic; font-weight: normal; }
.mainmenu li ul li a:hover, .mainmenu li ul li a.active {padding: 0px 0px 0px 18px;}

.mainmenu li ul li ul li a { padding: 0px 7px 0px 40px; font-style: italic; font-weight: normal; }
.mainmenu li ul li ul li a:hover, .mainmenu li ul li ul li a.active {padding: 0px 0px 0px 33px;}


/* Different header image */
.img-header {clear: both; float: left; width: 770px; height: 120px; margin: 0px; padding: 0px;}
.site-slogan-container  {width: 755px; height: 40px; top: 79px; position: absolute; z-index: 1; overflow: hidden; margin: 0px; padding-right: 15px; background-color: transparent;}
.site-name {width: 300px; height: 45px; top: 8px; position: absolute; z-index: 4; overflow: hidden; margin: 0px; padding-left: 25px; color: rgb(69,140,204);}

/* Move top navigation */
.navflag-container {width: 770px; top: 5px; position: absolute; z-index: 2; background-color: transparent;}
.nav1-container {width: 770px; top: 7px; position: absolute; z-index: 3; background-color: transparent;}

/* Fix overflowing form elements */
input {max-width: 370px;}